# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.vspscc
*.vssscc

# Rider files
.idea/

# User-specific files
*.rsuser
*.userprefs

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# dotnet
*.dll
*.exe
*.pdb

# publish profiles
*.pubxml
*.publishproj

# Environments
.env
.env.local
.env.*.local
appsettings.local.json
